<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SeCoGEST.Entities.Properties.Settings.GRPSCGConnectionString"
            connectionString="Data Source=192.168.1.13;Initial Catalog=GRPSCG;Persist Security Info=True;User ID=sa;Password=mclcacsql"
            providerName="System.Data.SqlClient" />
        <add name="SeCoGEST.Entities.Properties.Settings.GRPSCGConnectionString1"
            connectionString="Data Source=NBGIANLUIGI;Initial Catalog=GRPSCG;Persist Security Info=True;User ID=Gestionale;Password=mclcacgest"
            providerName="System.Data.SqlClient" />
        <add name="SeCoGEST.Entities.Properties.Settings.GRPSCGConnectionString2"
            connectionString="Data Source=NBCOFFINARDI;Initial Catalog=GRPSCG;Persist Security Info=True;User ID=sa;Password=mclcacsql"
            providerName="System.Data.SqlClient" />
        <add name="SeCoGEST.Entities.Properties.Settings.GRPSCGConnectionString3"
            connectionString="Data Source=NBCOFFINARDI;Initial Catalog=GRPSCG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SeCoGEST.Entities.Properties.Settings.GRPSCGConnectionString4"
            connectionString="Data Source=PC-COFFINARDI\SQLEXPRESS;Initial Catalog=GRPSCG;Persist Security Info=True;User ID=sa;Password=mclcacsql"
            providerName="System.Data.SqlClient" />
        <add name="SeCoGEST.Entities.Properties.Settings.GRPSCGConnectionString5"
            connectionString="Data Source=NBCOFFINARDI\SQLEXPRESS;Initial Catalog=GRPSCG;Persist Security Info=True;User ID=sa;Password=mclcacsql"
            providerName="System.Data.SqlClient" />
        <add name="SeCoGEST.Entities.Properties.Settings.GRPSCGConnectionString6"
            connectionString="Data Source=PC-GIANLUIGI\SQLEXPRESS01;Initial Catalog=GRPSCG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SeCoGEST.Entities.Properties.Settings.test_metodoConnectionString"
            connectionString="Data Source=192.168.1.13\SQL2017;Initial Catalog=test_metodo;Persist Security Info=True;User ID=Gestionale;Password=mclcacgest"
            providerName="System.Data.SqlClient" />
        <add name="SeCoGEST.Entities.Properties.Settings.GestGRPSCGConnectionString"
            connectionString="Data Source=192.168.1.12;Initial Catalog=GestGRPSCG;Persist Security Info=True;User ID=Gestionale;Password=mclcacgest;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>